<div class="row">
  <div class="col-md-4">
      </div>
    <div class="col-md-4">



<div class="signup">
  <h5>Edit League</h5>

<%= form_for @league do |f| %>



<p>
  <%#= f.label :name %>
  <%= f.text_field :name, class: "color", :required => true %>
</p>

<p>
  <%#= f.label :image %>
    <%= f.text_field :image, class: "color", :required => true %>
</p>

<%= f.submit "Update", :class => "updateButton" %>
<% end %>
</div>
</div>
</div>
