<div class="row">
  <div class="col-md-4">
      </div>
    <div class="col-md-4">

<div class="edit">
    <h5>Edit profile</h5>

<%= render :partial => 'form' %>
</div>
  <!-- <div class="col-md-4">
  </div> -->
</div>
