

<!-- <img src="assets/home.jpg" alt="home">
<body background="assets/home"></body> -->

<!-- body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
} -->

<!-- <div style="background-image:url('assets/home.jpg');width:100vw;height:900px;background-repeat:no-repeat;opacity:.8;"> -->

<!-- </div> -->

<div class="skate">
  <h1>Play.</h1>


</div>
